include tags_input
recursive-include tags_input *.py
recursive-include tags_input/templates *.html
recursive-include tags_input/static/js *.js
recursive-include tags_input/static/css *.css
recursive-include tags_input/static/css/base/images *.png

