include tags_input
recursive-include tags_input *.py
recursive-include tags_input/templates *.html
recursive-include tags_input/static *.js
recursive-include tags_input/static *.css
recursive-include tags_input/static *.png

