<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tagsinput-1.3.3.js" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.6.4.min.js3.js" />
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-18.1.16.min.js3.js" />
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/smoothness/jquery-ui.css" />

{% if add_link %}
	<a href="{{ add_link }}" class="add-another addlink" id="add_{{ id }}" onclick="return showAddAnotherPopup(this);"> add</a>
{% endif %}
<input type="text" name="{{ name }}" id="{{ id }}" value="{{ current_repr }}" autocomplete="off" {{ extra_attrs }} />
<script type="text/javascript">
//<![CDATA[
jQuery(document).ready(function($){
    $('#{{ id }}').tagsInput({
        autocomplete: {
            selectFirst: true,
            autoFill: true,
            delay: 20
        },
        minInputWidth: 145,
        height: '40px',
        width: '460px',
		minChars: {{ min_length }},
        autocomplete_url: '{{ lookup_url }}'
    });
{% block extra_script %}{% endblock %}
});
//]]>
</script>

{# django admin adds the help text. this is for use outside of the admin #}
{% block help %}{% if help_text %}<p class="help">{{help_text}}</p>{% endif %}{% endblock %}
{{ inline }}
