{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'base.css' %}">

        <title>Django Tags Input Demo!</title>
        {% block head %}
        {% endblock %}
    </head>
    <body class="text-center">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto">
                <div class="inner">
                    <h3 class="masthead-brand">Tags Input</h3>
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link active" href="#">Demo</a>
                        <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                    </nav>
                </div>
            </header>

            <main role="main" class="inner cover">
            <h1 class="cover-heading">Django Tags Input Demo!</h1>
            {% block content %}
            {% endblock %}

            <div class="row">
                <a class="btn btn-success btn-lg btn-block" href="{% url 'admin:index' %}">
                    Make sure to check out the admin as well
                </a>
            </div>
            </main>

            <footer class="mastfoot mt-auto">
                <div class="container">
                    <p>Made by <a href="https://wol.ph/">Wolph</a></p>
                </div>
            </footer>
    </body>
</html>
